@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(120deg, #ff9a9e, #fecfef);
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
}

.clickable-gift {
    font-size: 5rem;
    cursor: pointer;
    transition: transform 0.2s;
}

.clickable-gift:hover {
    transform: scale(1.15);
}


.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(247, 144, 144);
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
    z-index: 10;
}

.title {
    font-size: 2.4rem;
}

.subtitle {
    font-size: 1.2rem;
    opacity: 0.9;
}

.btn {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    background: white;
    color: #ff6b81;
    font-weight: bold;
    cursor: pointer;
}

#giftBox {
    font-size: 4.5rem;
    margin: 20px 0;
}

#g  iftImage {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.love-letter {
    font-size: 1.2rem;
    line-height: 1.7;
}

.hidden {
    display: none;
}

.step {
    display: none;
}
.step.active {
    display: block;
}
